/*

Regole Generali

*/

.general-container {
    width: 80%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
} 

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}